Repository deptofdefense/solo, pull requests merged in 2020-03, with the labels that each got.

#116 Feat 113 Add celery worker to backend with postgres db as message queue
  backend/.pylintrc
  backend/app/__init__.py
  backend/app/celery.py
  backend/app/settings.py
  backend/mypy.ini
  backend/requirements/requirements.txt
  backend/solo_rog_api/tasks.py
  backend/solo_rog_api/test/test_views.py
  backend/solo_rog_api/urls.py
  backend/solo_rog_api/views.py
  deploy/compose/docker-compose.override.yml
  deploy/compose/docker-compose.yml
  frontend/src/components/HomePage/HomePage.tsx
  frontend/src/components/HomePage/__tests__/__snapshots__/homePage.spec.tsx.snap
  frontend/src/components/HomePage/__tests__/homePage.spec.tsx
Labels: infrastructure

#125 Bug 124 update django to latest version in response to SNYK notification
  backend/requirements/requirements.txt
Labels: dependencies

#122 Bug 120 urlencode celery worker database connection string
  backend/app/settings.py
Labels: bug

#127 Bug update celery connection string to use escaped postgres host
  backend/app/settings.py
Labels: bug

#123 Feat 110 add worker task definition and ECS service for running celery worker
  deploy/staging/application/app.tf
  deploy/staging/application/application-stage.tfvars
  deploy/staging/application/outputs.tf
  deploy/staging/application/worker_container_definition.json
Labels: infrastructure

#128 Update terraform from 0.12.20 to 0.12.21
  deploy/staging/deploy.sh
Labels: bug, build

#131 #112 Feat autoscaling group policy in Terraform
  deploy/staging/application/README.MD
  deploy/staging/application/app.tf
  deploy/staging/platform/ecs.tf
  deploy/staging/platform/outputs.tf
Labels: infrastructure

#130 Feat 129 refactor uswds specific components to reusable react components
  frontend/package.json
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/components/Header/index.ts
  frontend/src/components/HomePage/HomePage.tsx
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/LoginPage/LoginButton.tsx
  frontend/src/components/LoginPage/LoginPage.tsx
  frontend/src/components/LoginPage/__tests__/__snapshots__/loginButton.spec.tsx.snap
  frontend/src/components/LoginPage/__tests__/__snapshots__/loginPage.spec.tsx.snap
  frontend/src/components/LoginPage/__tests__/loginButton.spec.tsx
  frontend/src/components/LoginPage/__tests__/loginPage.spec.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/__tests__/__snapshots__/navbar.spec.tsx.snap
  frontend/src/components/Navbar/__tests__/navbar.spec.tsx
  frontend/src/components/Navbar/index.ts
  frontend/src/components/OfficialSiteBanner/index.ts
  frontend/src/components/index.ts
  frontend/src/solo-uswds/Button.tsx
  frontend/src/solo-uswds/Header.tsx
  frontend/src/solo-uswds/HeaderLogo.tsx
  frontend/src/solo-uswds/HeaderNav.tsx
  frontend/src/solo-uswds/HeaderNavLink.tsx
  frontend/src/solo-uswds/OfficialSiteBanner.tsx
  frontend/src/solo-uswds/__tests__/__snapshots__/button.spec.tsx.snap
  frontend/src/solo-uswds/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/solo-uswds/__tests__/__snapshots__/officialSiteBanner.spec.tsx.snap
  frontend/src/solo-uswds/__tests__/button.spec.tsx
  frontend/src/solo-uswds/__tests__/header.spec.tsx
  frontend/src/solo-uswds/__tests__/officialSiteBanner.spec.tsx
  frontend/src/solo-uswds/index.ts
  frontend/tsconfig.json
Labels: development-tool

#141 Bug 140 Bump Django from version 3.0.3 to 3.0.4 due to SNYK dependency scan…
  backend/requirements/requirements.txt
Labels: dependencies

#139 Feat 132 Add status page and link to status page in navbar
  frontend/src/components/Layout/Layout.tsx
  frontend/src/components/Layout/__tests__/layout.spec.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/__tests__/__snapshots__/navbar.spec.tsx.snap
  frontend/src/components/Navbar/__tests__/navbar.spec.tsx
  frontend/src/components/StatusPage/StatusPage.tsx
  frontend/src/components/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
  frontend/src/components/StatusPage/__tests__/statusPage.spec.tsx
  frontend/src/components/StatusPage/index.ts
  frontend/src/components/index.ts
  frontend/src/solo-uswds/HeaderNavLink.tsx
  frontend/src/solo-uswds/__tests__/__snapshots__/header.spec.tsx.snap
Labels: LOE 2, frontend

#142 Feat 134 USWDS table component and react-table component
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/TableBody.module.scss
  frontend/src/components/Table/TableBody.tsx
  frontend/src/components/Table/TableHead.tsx
  frontend/src/components/Table/__tests__/Table.spec.tsx
  frontend/src/components/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  frontend/src/components/Table/index.ts
  frontend/src/components/index.ts
  frontend/src/index.tsx
  frontend/src/solo-types/index.ts
  frontend/src/solo-types/react-table.d.ts
  frontend/src/solo-uswds/Button.tsx
  frontend/src/solo-uswds/Table.tsx
  frontend/src/solo-uswds/__tests__/__snapshots__/table.spec.tsx.snap
  frontend/src/solo-uswds/__tests__/table.spec.tsx
  frontend/src/solo-uswds/index.ts
  frontend/src/styles.scss
Labels: frontend

#146 Feat 135 display table of documents on status page
  frontend/src/components/StatusPage/StatusPage.tsx
  frontend/src/components/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
  frontend/src/components/StatusPage/__tests__/statusPage.spec.tsx
  frontend/src/components/StatusPage/fakeDoc.ts
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/__tests__/Table.spec.tsx
  frontend/src/components/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  frontend/src/solo-uswds/Button.tsx
Labels: app feature, frontend

#149 Feat 138 add detailed document information to status page
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/DocumentDetails/DocumentDetails.tsx
  frontend/src/components/DocumentDetails/__tests__/documentDetails.tsx
  frontend/src/components/DocumentDetails/index.ts
  frontend/src/components/StatusPage/StatusPage.tsx
  frontend/src/components/StatusPage/fakeDoc.ts
  frontend/src/components/index.ts
  frontend/src/pages/HomePage/HomePage.module.css
  frontend/src/pages/HomePage/HomePage.tsx
  frontend/src/pages/HomePage/__tests__/__snapshots__/homePage.spec.tsx.snap
  frontend/src/pages/HomePage/__tests__/homePage.spec.tsx
  frontend/src/pages/HomePage/index.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/Layout/__tests__/layout.spec.tsx
  frontend/src/pages/Layout/index.ts
  frontend/src/pages/LoginPage/LoginPage.module.scss
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/pages/LoginPage/__tests__/__snapshots__/loginPage.spec.tsx.snap
  frontend/src/pages/LoginPage/__tests__/loginPage.spec.tsx
  frontend/src/pages/LoginPage/index.ts
  frontend/src/pages/PostLogoutPage/PostLogoutPage.module.css
  frontend/src/pages/PostLogoutPage/PostLogoutPage.tsx
  frontend/src/pages/PostLogoutPage/__tests__/__snapshots__/postLogoutPage.spec.tsx.snap
  frontend/src/pages/PostLogoutPage/__tests__/postLogoutPage.spec.tsx
  frontend/src/pages/PostLogoutPage/index.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
  frontend/src/pages/StatusPage/__tests__/statusPage.spec.tsx
  frontend/src/pages/StatusPage/index.ts
  frontend/src/pages/StatusPage/tableColumns.tsx
  frontend/src/pages/StatusPage/useDocuments.ts
  frontend/src/pages/index.ts
  frontend/src/solo-types/apiDoc.ts
  frontend/src/solo-types/doc.ts
  frontend/src/solo-types/index.ts
Labels: app feature, frontend

#151 Bug 150 header information width
  frontend/src/components/DocumentDetails/DocumentDetails.tsx
  frontend/src/components/Navbar/__tests__/__snapshots__/navbar.spec.tsx.snap
  frontend/src/solo-uswds/Header.module.scss
  frontend/src/solo-uswds/Header.tsx
  frontend/src/solo-uswds/OfficialSiteBanner.module.scss
  frontend/src/solo-uswds/OfficialSiteBanner.tsx
  frontend/src/solo-uswds/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/solo-uswds/__tests__/__snapshots__/officialSiteBanner.spec.tsx.snap
Labels: bug, frontend

#164 Feat 137 Add timeline component to status page
  frontend/src/components/DocumentStepper/DocumentStepper.module.scss
  frontend/src/components/DocumentStepper/DocumentStepper.tsx
  frontend/src/components/DocumentStepper/DocumentStepperStep.tsx
  frontend/src/components/DocumentStepper/__tests__/__snapshots__/documentStepper.spec.tsx.snap
  frontend/src/components/DocumentStepper/__tests__/documentStepper.spec.tsx
  frontend/src/components/DocumentStepper/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/solo-types/apiDoc.ts
Labels: app feature, frontend

#165 Bug 145 update pre-commit hook to not auto-fix code style
  hooks/precommit.sh
Labels: bug, development-tool

#167 use backend directory within docker image so backend unit tests can r…
  backend/Dockerfile
  deploy/compose/docker-compose.override.yml
Labels: bug, development-tool

#168 Feat 143 add navigation link to d6t page and add placeholder d6t page component
  frontend/package.json
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/__tests__/__snapshots__/navbar.spec.tsx.snap
  frontend/src/components/Navbar/__tests__/navbar.spec.tsx
  frontend/src/context/index.ts
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/index.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/index.ts
Labels: app feature, frontend

#169 add address type model, serializer, and tests
  backend/solo_rog_api/migrations/0002_addresstype.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_serializers.py
  backend/solo_rog_api/urls.py
  frontend/src/solo-types/apiDoc.ts
Labels: backend

#170 Added Dic model, serialization, and tests for backend data manipulation
  backend/solo_rog_api/migrations/0003_dic.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_serializers.py
Labels: app feature, backend

#171 add part model, serializer, and test. handle merge conflict with dic
  backend/solo_rog_api/migrations/0003_part.py
  backend/solo_rog_api/migrations/0004_merge_20200310_2335.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_serializers.py
Labels: backend

#172 Created servicerequest model, serializer, and tests for backend data …
  backend/solo_rog_api/migrations/0005_servicerequest.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_serializers.py
Labels: app feature, backend

#174 Created subinventory model, serializer, and tests.
  backend/solo_rog_api/migrations/0007_subinventory.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_serializers.py
Labels: app feature, backend

#152 creates title component and adds title component to the Status Page
  deploy/compose/docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Title/Title.tsx
  frontend/src/components/Title/__tests__/__snapshots__/title.spec.tsx.snap
  frontend/src/components/Title/__tests__/title.spec.tsx
  frontend/src/components/Title/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
Labels: app feature, frontend

#178 Formatting errors in backend should now be fixed, and the CI/CD pipel…
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_serializers.py
Labels: bug

#181 Bug 180 uupdate terraform container definitions with new working directory
  deploy/staging/application/containers_definition.json
  deploy/staging/application/worker_container_definition.json
Labels: bug, infrastructure

#183 update a lot of minor issues to ensure full test coverage
  .circleci/config.yml
  backend/.coveragerc
  backend/README.md
  backend/mypy.ini
  backend/requirements/requirements.txt
  backend/solo_rog_api/models.py
  backend/solo_rog_api/test/test_models.py
  backend/solo_rog_api/test/test_serializers.py
Labels: backend

#179 use faker to generate random data for frontend for better view of the…
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DocumentDetails/DocumentDetails.tsx
  frontend/src/pages/StatusPage/useDocuments.ts
  frontend/src/solo-types/apiDoc.ts
Labels: development-tool

#184 Add init.py to omit in coveragerc
  backend/.coveragerc
Labels: bug

#186 Added Title Component to D6T page.
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
Labels: app feature, frontend

#203 update table to track sortBy state within react-table instead of doin…
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/TableBody.tsx
  frontend/src/components/Table/__tests__/Table.spec.tsx
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/useDocuments.ts
  frontend/src/solo-types/index.ts
Labels: bug, frontend

#187 Feat 136 filter status page
  frontend/src/components/SelectFilterControls/SelectFilterControls.module.scss
  frontend/src/components/SelectFilterControls/SelectFilterControls.tsx
  frontend/src/components/SelectFilterControls/__tests__/__snapshots__/selectFilterControls.spec.tsx.snap
  frontend/src/components/SelectFilterControls/__tests__/selectFilterControls.spec.tsx
  frontend/src/components/SelectFilterControls/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
  frontend/src/pages/StatusPage/__tests__/statusPage.spec.tsx
  frontend/src/pages/StatusPage/__tests__/statusPageFilters.spec.tsx
  frontend/src/pages/StatusPage/tableColumns.tsx
  frontend/src/pages/StatusPage/useDocuments.ts
  frontend/src/solo-uswds/Button.module.scss
  frontend/src/solo-uswds/Button.tsx
  frontend/src/styles.scss
Labels: frontend

#204 Feat 188 paginate results in status page
  frontend/package-lock.json
  frontend/src/components/Paginator/Paginator.module.scss
  frontend/src/components/Paginator/Paginator.tsx
  frontend/src/components/Paginator/PaginatorButton.tsx
  frontend/src/components/Paginator/PaginatorIndicatorIcon.tsx
  frontend/src/components/Paginator/__tests__/__snapshots__/paginator.spec.tsx.snap
  frontend/src/components/Paginator/__tests__/paginator.spec.tsx
  frontend/src/components/Paginator/index.ts
  frontend/src/components/Table/Table.tsx
  frontend/src/components/Table/TableBody.module.scss
  frontend/src/components/index.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
  frontend/src/pages/StatusPage/__tests__/statusPage.spec.tsx
  frontend/src/pages/StatusPage/__tests__/statusPagePagination.spec.tsx
  frontend/src/pages/StatusPage/useDocuments.ts
  frontend/src/solo-types/apiDoc.ts
  frontend/src/solo-types/index.ts
  frontend/src/solo-uswds/Button.tsx
Labels: frontend

#206 Bug 205 reset page on filter in status page
  frontend/src/components/SelectFilterControls/SelectFilterControls.tsx
  frontend/src/components/SelectFilterControls/__tests__/selectFilterControls.spec.tsx
  frontend/src/components/Table/Table.tsx
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/useDocuments.ts
  frontend/src/solo-types/index.ts
  frontend/src/solo-types/react-table.d.ts
Labels: bug, frontend

#202 Model, serializer and tests for status have been added for backend data manipulation
  backend/solo_rog_api/migrations/0010_status.py
  backend/solo_rog_api/migrations/0011_auto_20200312_1554.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_models.py
  backend/solo_rog_api/test/test_serializers.py
Labels: backend

#209 Address model, serializer, and tests created for backend data manipul…
  backend/solo_rog_api/migrations/0012_address.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_models.py
  backend/solo_rog_api/test/test_serializers.py
Labels: backend

#208 Feat 194 Add table and data to enter receipt page
  frontend/package.json
  frontend/src/components/SdnInputForm/SdnInputForm.tsx
  frontend/src/components/SdnInputForm/__tests__/sdnInputForm.spec.tsx
  frontend/src/components/SdnInputForm/index.ts
  frontend/src/components/Table/Table.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDocumentApi.ts
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/LoadingIcon.module.scss
  frontend/src/pages/EnterReceiptPage/LoadingIcon.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/tableColumns.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/useDocuments.ts
Labels: app feature, frontend

#148 Local proprietary compression build has been created. CI/CD integrati…
  .gitignore
  CONTRIBUTING.md
  compression-service/Dockerfile
  compression-service/EXML-converter-service/.mvn/wrapper/MavenWrapperDownloader.java
  compression-service/EXML-converter-service/.mvn/wrapper/maven-wrapper.jar
  compression-service/EXML-converter-service/.mvn/wrapper/maven-wrapper.properties
  compression-service/EXML-converter-service/GCSS-XSD/RICE-Master-Schema.xsd
  compression-service/EXML-converter-service/GCSS-XSD/i009ShipmentReceiptsIn.xsd
  compression-service/EXML-converter-service/GCSS-XSD/i033SoloInventoryOut.xsd
  compression-service/EXML-converter-service/GCSS-XSD/i111SoloDueInsOut.xsd
  compression-service/EXML-converter-service/GCSS-XSD/i112SalesOrderOut.xsd
  compression-service/EXML-converter-service/GCSS-XSD/i136SoloItemMaster.xsd
  compression-service/EXML-converter-service/GCSS-XSD/i137SubinventoryTransferOut.xsd
  compression-service/EXML-converter-service/GCSS-XSD/soloCommon.xsd
  compression-service/EXML-converter-service/mvnw
  compression-service/EXML-converter-service/mvnw.cmd
  compression-service/EXML-converter-service/pom.xml
  compression-service/EXML-converter-service/pull-proprietary-code.sh
  compression-service/EXML-converter-service/src/main/java/META-INF/MANIFEST.MF
  compression-service/EXML-converter-service/src/main/java/io/javabrains/EXMLconverterservice/ExmlConverterServiceApplication.java
  compression-service/EXML-converter-service/src/main/java/io/javabrains/EXMLconverterservice/resources/ExmlConversionService.java
  compression-service/EXML-converter-service/src/main/java/io/javabrains/EXMLconverterservice/resources/XMLConverter.java
  compression-service/EXML-converter-service/src/main/resources/application.properties
  compression-service/EXML-converter-service/src/test/java/io/javabrains/EXMLconverterservice/ExmlConverterServiceApplicationTests.java
  compression-service/docker-compose.yml
  deploy/compose/configure-local-environment.sh
  deploy/compose/docker-compose.yml
Labels: app feature

#213 Feat 195 add submit functionality d6t page
  frontend/src/components/SdnInputForm/SdnInputForm.tsx
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/EnterReceiptStatusIndicator.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPageSubmit.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPageSubmit.spec.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
  frontend/src/solo-uswds/Alert.tsx
  frontend/src/solo-uswds/__tests__/alert.spec.tsx
  frontend/src/solo-uswds/index.ts
  frontend/src/styles.scss
  frontend/src/test-utils.tsx
Labels: app feature, frontend

#216 fetch COR due-outs from api and display in table on COR page
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDocumentSet.ts
  frontend/src/pages/ConfirmationOfReceiptPage/ConfirmationOfReceiptPage.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/confirmationOfReceiptPage.spec.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/tableColumns.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/useCORDocuments.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
Labels: app feature, frontend

#215 Add currently authenticated username as dropdown with link to logout …
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/components/Navbar/NavbarUserDropdown.module.scss
  frontend/src/components/Navbar/NavbarUserDropdown.tsx
  frontend/src/components/Navbar/__tests__/navbar.spec.tsx
  frontend/src/components/Navbar/__tests__/navbarUserDropdown.spec.tsx
  frontend/src/context/AuthContext.tsx
Labels: frontend

#218 Feat 198 add received by form and submit functionality to COR page
  frontend/src/hooks/useDocumentSet.ts
  frontend/src/pages/ConfirmationOfReceiptPage/ConfirmationOfReceiptPage.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/ReceivedByInput.module.scss
  frontend/src/pages/ConfirmationOfReceiptPage/ReceivedByInput.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/submitCOR.spec.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/tableColumns.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/useCORDocuments.ts
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
  frontend/src/solo-types/apiDoc.ts
Labels: app feature, frontend

#222 Feat 221 allow bulk submission of cors
  frontend/src/components/CORInputForm/CORInputForm.module.scss
  frontend/src/components/CORInputForm/CORInputForm.tsx
  frontend/src/components/CORInputForm/index.ts
  frontend/src/components/Table/Table.tsx
  frontend/src/components/index.ts
  frontend/src/pages/ConfirmationOfReceiptPage/ConfirmationOfReceiptPage.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/ReceivedByInput.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/SubmitCORCell.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/submitCOR.spec.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/tableColumns.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/useCORDocuments.ts
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
  frontend/src/solo-types/react-table.d.ts
  frontend/src/solo-uswds/Checkbox.module.scss
  frontend/src/solo-uswds/Checkbox.tsx
  frontend/src/solo-uswds/__tests__/checkbox.spec.tsx
  frontend/src/solo-uswds/index.ts
Labels: app feature, frontend

#224 further refine document conversion step after api calls for single da…
  frontend/src/components/CORInputForm/CORInputForm.module.scss
  frontend/src/components/CORInputForm/CORInputForm.tsx
  frontend/src/components/SdnInputForm/SdnInputForm.tsx
  frontend/src/components/SelectFilterControls/SelectFilterControls.module.scss
  frontend/src/components/SelectFilterControls/SelectFilterControls.tsx
  frontend/src/components/SelectFilterControls/__tests__/__snapshots__/selectFilterControls.spec.tsx.snap
  frontend/src/hooks/useDocumentApi.ts
  frontend/src/hooks/useDocumentSet.ts
  frontend/src/pages/ConfirmationOfReceiptPage/ConfirmationOfReceiptPage.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/SubmitCORCell.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/ConfirmationOfReceiptPage/tableColumns.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/useCORDocuments.ts
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/EnterReceiptStatusIndicator.tsx
  frontend/src/pages/EnterReceiptPage/LoadingIcon.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPageSubmit.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPageSubmit.spec.tsx
  frontend/src/pages/EnterReceiptPage/tableColumns.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/tableColumns.tsx
  frontend/src/solo-types/apiDoc.ts
  frontend/src/solo-types/doc.ts
  frontend/src/solo-types/index.ts
  frontend/src/solo-uswds/Input.module.scss
  frontend/src/solo-uswds/Input.tsx
  frontend/src/solo-uswds/index.ts
Labels: development-tool, frontend

#225 Feature #219 Navigate to Admin Page
  frontend/src/components/Navbar/NavbarUserDropdown.tsx
  frontend/src/pages/AdminPage/AdminPage.tsx
  frontend/src/pages/AdminPage/__tests__/__snapshots__/adminPage.spec.tsx.snap
  frontend/src/pages/AdminPage/__tests__/adminPage.spec.tsx
  frontend/src/pages/AdminPage/index.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/index.ts
Labels: app feature, frontend

#227 Feat 191 backend document list for status page
  backend/README.md
  backend/mypy.ini
  backend/solo_rog_api/admin.py
  backend/solo_rog_api/migrations/0013_delete_log.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_log.py
  backend/solo_rog_api/test/test_serializers.py
  backend/solo_rog_api/test/test_views.py
  backend/solo_rog_api/urls.py
  backend/solo_rog_api/views.py
  hooks/precommit.sh
Labels: backend

#236 Global backend pagination
  backend/app/settings.py
Labels: app feature, backend

#235 Feat 234 add inputs for quantity, subinventory, and locator on D6T page
  frontend/src/components/SelectFilterControls/SelectFilterControls.tsx
  frontend/src/hooks/useDocumentApi.ts
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/QuantityInput.tsx
  frontend/src/pages/EnterReceiptPage/SubinventorySelector.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPageSubmit.spec.tsx
  frontend/src/pages/EnterReceiptPage/tableColumns.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
  frontend/src/pages/StatusPage/tableColumns.tsx
  frontend/src/solo-types/apiDoc.ts
  frontend/src/solo-types/doc.ts
  frontend/src/solo-types/index.ts
  frontend/src/solo-uswds/Select.tsx
  frontend/src/solo-uswds/index.ts
Labels: app feature, frontend

#244 Bug 243 properly access commodity name field from data in cor table
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/confirmationOfReceiptPage.spec.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/tableColumns.tsx
Labels: bug, frontend

#242 Refactor document list filtering with django-filter
  backend/app/settings.py
  backend/mypy.ini
  backend/requirements/requirements.txt
  backend/solo_rog_api/filters.py
  backend/solo_rog_api/migrations/0014_auto_20200320_1144.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/test/test_views.py
  backend/solo_rog_api/views.py
Labels: backend

#246 Tests for backend views created, code coverage improved
  backend/solo_rog_api/test/test_views.py
Labels: backend

#248 Feat 247 add django management command to generate fake data
  backend/.pylintrc
  backend/app/settings.py
  backend/requirements/requirements.dev.txt
  backend/solo_rog_api/management/commands/populate_fake.py
  backend/solo_rog_api/test/test_management_commands.py
  hooks/precommit.sh
Labels: backend, development-tool

#254 Feat 249 setup initial api integration between frontend and backend
  backend/app/settings.py
  backend/solo_rog_api/filters.py
  backend/solo_rog_api/management/commands/populate_fake.py
  backend/solo_rog_api/test/test_management_commands.py
  backend/solo_rog_api/views.py
  frontend/src/components/DocumentStepper/DocumentStepper.tsx
  frontend/src/hooks/useDocumentApi.ts
  frontend/src/hooks/useDocumentSet.ts
  frontend/src/pages/ConfirmationOfReceiptPage/ConfirmationOfReceiptPage.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/confirmationOfReceiptPage.spec.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/tableColumns.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
  frontend/src/pages/StatusPage/__tests__/statusPage.spec.tsx
  frontend/src/pages/StatusPage/__tests__/statusPageFilters.spec.tsx
  frontend/src/pages/StatusPage/__tests__/statusPagePagination.spec.tsx
  frontend/src/pages/StatusPage/tableColumns.tsx
Labels: app feature, backend, frontend

#256 Bug 255 correctly parse shipper and receiver information from api
  frontend/src/hooks/useDocumentApi.ts
Labels: bug, frontend

#259 Bug 238 d6t qty field can now be set to 0
  frontend/src/pages/EnterReceiptPage/QuantityInput.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPageSubmit.spec.tsx
Labels: bug, frontend

#258 implement automatic token refreshing for jwts in frontend
  backend/app/settings.py
  backend/solo_rog_api/test/test_serializers.py
  backend/solo_rog_api/test/test_views.py
  backend/solo_rog_api/urls.py
  backend/solo_rog_api/views.py
  frontend/src/const.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/context/AuthContextProvider.tsx
  frontend/src/context/__tests__/authContext.spec.tsx
  frontend/src/hooks/useDocumentApi.ts
Labels: app feature, frontend

#261 moved d6t status indicator alert from below table to above table
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/EnterReceiptStatusIndicator.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/solo-uswds/Alert.module.scss
  frontend/src/solo-uswds/Alert.tsx
Labels: frontend

#274 Feat 262 remove d6t rows
  frontend/src/components/Table/TableHead.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.module.scss
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/LoadingIcon.module.scss
  frontend/src/pages/EnterReceiptPage/LoadingIcon.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/tableColumns.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
  frontend/src/pages/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
Labels: frontend

#263 Tying backend API and frontend for COR and D6T submissions
  backend/mypy.ini
  backend/solo_rog_api/migrations/0015_status_received_by.py
  backend/solo_rog_api/migrations/0016_auto_20200325_0637.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_serializers.py
  backend/solo_rog_api/test/test_views.py
  backend/solo_rog_api/urls.py
  backend/solo_rog_api/views.py
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/submitCOR.spec.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/useCORDocuments.ts
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPageSubmit.spec.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
Labels: app feature, backend

#277 [wip] Bug 270 use a non root user in containers
  backend/Dockerfile
Labels: infrastructure

#279 Feat 264 add solo logo img
  frontend/src/components/Navbar/__tests__/__snapshots__/navbar.spec.tsx.snap
  frontend/src/images/solo.png
  frontend/src/solo-uswds/Header.module.scss
  frontend/src/solo-uswds/HeaderLogo.module.scss
  frontend/src/solo-uswds/HeaderLogo.tsx
  frontend/src/solo-uswds/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/solo-uswds/__tests__/header.spec.tsx
Labels: frontend

#280 Changed privs to a non-root user for the Java compression service.
  compression-service/Dockerfile
Labels: infrastructure

#281 Feat 257 initial user admin table
  frontend/src/components/LoadingIcon/LoadingIcon.module.scss
  frontend/src/components/LoadingIcon/LoadingIcon.tsx
  frontend/src/components/LoadingIcon/__tests__/__snapshots__/loadingIcon.spec.tsx.snap
  frontend/src/components/LoadingIcon/__tests__/loadingIcon.spec.tsx
  frontend/src/components/LoadingIcon/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/AdminPage/AdminPage.tsx
  frontend/src/pages/AdminPage/__tests__/__snapshots__/adminPage.spec.tsx.snap
  frontend/src/pages/AdminPage/__tests__/adminPage.spec.tsx
  frontend/src/pages/AdminPage/tableColumns.tsx
  frontend/src/pages/AdminPage/useWarehouseUsers.ts
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/submitCOR.spec.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/tableColumns.tsx
  frontend/src/solo-types/index.ts
  frontend/src/solo-types/warehouseUsers.ts
Labels: frontend

#286 Feat 267 Schedule tasks via cloudwatch to run on ECS cluster
  backend/Dockerfile
  backend/app/settings.py
  backend/solo_rog_api/management/commands/log_something.py
  backend/solo_rog_api/tasks.py
  backend/solo_rog_api/test/test_views.py
  backend/solo_rog_api/urls.py
  backend/solo_rog_api/views.py
  deploy/compose/docker-compose.override.yml
  deploy/compose/docker-compose.yml
  deploy/staging/application/app.tf
  deploy/staging/application/application-stage.tfvars
  deploy/staging/application/outputs.tf
  deploy/staging/application/template_application.json
  deploy/staging/application/template_worker.json
Labels: infrastructure

#288 Feat 267 assume solo fargate exe role when scheduling tasks
  deploy/staging/application/app.tf
  deploy/staging/application/template_application.json
Labels: infrastructure
