Repository deptofdefense/solo, pull requests merged in 2020-04, with the labels that each got.

#290 Feat 267 add celery beat for task scheduling
  .gitignore
  backend/app/settings.py
  backend/solo_rog_api/management/commands/log_something.py
  backend/solo_rog_api/tasks.py
  deploy/compose/docker-compose.override.yml
  deploy/compose/docker-compose.yml
  deploy/staging/application/app.tf
  deploy/staging/application/application-stage.tfvars
  deploy/staging/application/outputs.tf
  deploy/staging/application/template_scheduler.json
  frontend/src/pages/AdminPage/useWarehouseUsers.ts
Labels: infrastructure

#289 Added compression service to ECR
  deploy/staging/deploy.sh
Labels: backend

#291 automatically retrieve documents and save sdns to db for solo
  .circleci/config.yml
  backend/.coveragerc
  backend/app/settings.py
  backend/requirements/requirements.txt
  backend/solo_rog_api/tasks.py
  backend/solo_rog_api/tasks/__init__.py
  backend/solo_rog_api/tasks/gcss_update.py
  backend/solo_rog_api/tasks/retrieve_task_base.py
  deploy/staging/application/app.tf
  deploy/staging/application/template_scheduler.json
  deploy/staging/deploy.sh
Labels: backend, infrastructure

#292 pass GCSS host as parameter since farget awsvpc network mode does
  backend/solo_rog_api/tasks/retrieve_task_base.py
  deploy/staging/application/app.tf
  deploy/staging/application/template_scheduler.json
  deploy/staging/application/template_worker.json
Labels: bug

#278 Bug 273 enable SSL stapling in staging
  frontend/nginx/nginx.template
  frontend/nginx/snippets/chain.pem
Labels: infrastructure

#293 Fixed bug with the compression service push to ECR. Needed jars in s3 bucket
  deploy/staging/deploy.sh
Labels: bug

#297 hourly retrieval of GCSS DocHistory api
  backend/app/settings.py
  backend/solo_rog_api/tasks.py
  deploy/staging/application/app.tf
  deploy/staging/application/template_scheduler.json
  frontend/src/hooks/useDocumentApi.ts
  frontend/src/pages/StatusPage/__tests__/statusPage.spec.tsx
  frontend/src/solo-types/index.ts
Labels: backend, infrastructure

#299 Feat 267 nightly doc history
  backend/.coveragerc
  backend/app/settings.py
  backend/solo_rog_api/migrations/0017_auto_20200402_1808.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/tasks.py
Labels: backend

#300 Feat 267 nightly parts
  backend/Dockerfile
  backend/app/settings.py
  backend/solo_rog_api/tasks.py
Labels: backend

#276 Bug 275 filter statuses
  backend/solo_rog_api/filters.py
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/confirmationOfReceiptPage.spec.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/useCORDocuments.ts
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/useEnterReceiptDocuments.ts
Labels: bug, frontend

#305 Remove single column models
  backend/solo_rog_api/filters.py
  backend/solo_rog_api/management/commands/drop_data.py
  backend/solo_rog_api/management/commands/populate_fake.py
  backend/solo_rog_api/migrations/0018_auto_20200403_1633.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/tasks.py
  backend/solo_rog_api/test/test_management_commands.py
  backend/solo_rog_api/test/test_models.py
  backend/solo_rog_api/test/test_serializers.py
  backend/solo_rog_api/test/test_views.py
  backend/solo_rog_api/views.py
  frontend/src/components/DocumentDetails/DocumentDetails.tsx
  frontend/src/components/DocumentDetails/__tests__/documentDetails.tsx
  frontend/src/components/DocumentStepper/DocumentStepper.tsx
  frontend/src/hooks/useDocumentApi.ts
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPageSubmit.spec.tsx
  frontend/src/pages/StatusPage/StatusPage.tsx
  frontend/src/pages/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
  frontend/src/pages/StatusPage/__tests__/statusPage.spec.tsx
  frontend/src/pages/StatusPage/tableColumns.tsx
  frontend/src/solo-types/apiDoc.ts
  frontend/src/solo-types/doc.ts
  frontend/src/solo-types/index.ts
Labels: development-tool

#307 duplicate sdn prevented from being added to d6t table
  frontend/src/hooks/useDocumentApi.ts
  frontend/src/pages/EnterReceiptPage/DuplicateSdnIndicator.tsx
  frontend/src/pages/EnterReceiptPage/EnterReceiptPage.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
Labels: bug, frontend

#308 Feat 230 add task to update gcss on D6T or COR submission
  backend/solo_rog_api/gcss_xml_templates.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/tasks.py
  backend/solo_rog_api/test/test_models.py
  backend/solo_rog_api/test/test_serializers.py
  backend/solo_rog_api/test/test_views.py
Labels: Integration, backend

#309 bump frontend dependencies in response to snyk/google dependency alert
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, frontend

#310 filter cor table by niin instead of nomenclature
  backend/solo_rog_api/filters.py
  frontend/src/pages/ConfirmationOfReceiptPage/ConfirmationOfReceiptPage.tsx
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
Labels: bug, frontend

#313 Feat 265 manage user permissions by warehouse
  backend/solo_rog_api/migrations/0019_userinwarehouse_warehouse.py
  backend/solo_rog_api/models.py
  backend/solo_rog_api/serializers.py
  backend/solo_rog_api/test/test_models.py
  backend/solo_rog_api/test/test_serializers.py
  backend/solo_rog_api/test/test_views.py
  backend/solo_rog_api/urls.py
  backend/solo_rog_api/views.py
Labels: app feature, backend

#312 added first, last, dodid columns to admin table
  frontend/src/pages/AdminPage/AdminPage.tsx
  frontend/src/pages/AdminPage/__tests__/__snapshots__/adminPage.spec.tsx.snap
  frontend/src/pages/AdminPage/__tests__/adminPage.spec.tsx
  frontend/src/pages/AdminPage/tableColumns.tsx
  frontend/src/solo-types/index.ts
  frontend/src/solo-types/warehouseUsers.ts
Labels: frontend

#317 Feat update favicon
  backend/solo_rog_api/migrations/0020_auto_20200409_0840.py
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-256x256.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/safari-pinned-tab.svg
Labels: app feature

#320 navbar now spans width of page minus logo space
  frontend/src/components/Navbar/__tests__/__snapshots__/navbar.spec.tsx.snap
  frontend/src/components/SdnInputForm/SdnInputForm.tsx
  frontend/src/components/Table/__tests__/__snapshots__/Table.spec.tsx.snap
  frontend/src/pages/AdminPage/__tests__/__snapshots__/adminPage.spec.tsx.snap
  frontend/src/pages/ConfirmationOfReceiptPage/__tests__/__snapshots__/confirmationOfReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/__snapshots__/enterReceiptPage.spec.tsx.snap
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPage.spec.tsx
  frontend/src/pages/EnterReceiptPage/__tests__/enterReceiptPageSubmit.spec.tsx
  frontend/src/pages/StatusPage/__tests__/__snapshots__/statusPage.spec.tsx.snap
  frontend/src/solo-uswds/HeaderNav.module.scss
  frontend/src/solo-uswds/HeaderNav.tsx
  frontend/src/solo-uswds/Table.module.scss
  frontend/src/solo-uswds/Table.tsx
  frontend/src/solo-uswds/__tests__/__snapshots__/header.spec.tsx.snap
  frontend/src/solo-uswds/__tests__/__snapshots__/table.spec.tsx.snap
Labels: frontend

#321 Feat 266 exml converter
  backend/app/settings.py
  backend/solo_rog_api/authentication.py
  backend/solo_rog_api/tasks.py
  backend/solo_rog_api/test/test_authentication_backend.py
  compression-service/EXML-converter-service/src/main/resources/application.properties
  deploy/compose/.env.example
  deploy/compose/docker-compose.override.yml
  deploy/compose/docker-compose.yml
  deploy/staging/application/app.tf
  deploy/staging/application/application-stage.tfvars
  deploy/staging/application/template_compression.json
  deploy/staging/application/template_worker.json
  deploy/staging/platform/ecs.tf
  deploy/staging/platform/outputs.tf
Labels: Integration, backend

#324 add dod warning to login page, set refresh token lifetime to 30 minutes
  backend/app/settings.py
  backend/solo_rog_api/authentication.py
  frontend/src/pages/LoginPage/LoginPage.module.scss
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/pages/LoginPage/__tests__/__snapshots__/loginPage.spec.tsx.snap
  frontend/src/pages/LoginPage/__tests__/loginPage.spec.tsx
Labels: frontend, rapid ATO
